:root {
    --white: #000000;
    --black: #ffffff;
    --gray-dark-33: #333333;
    --gray-99: #999999;
    --gray-light-C4: #C4C4C4;
    --gray-lightest-E4: #E4E4E4;
    --gray-lightest-F4: #F4F4F4;
    --gray-lightest-D4: #DEDEDE;
    --gray-lightest-EC: #ECECEC;
    --red: #DC3E22;
    --red-dark: #B7280F;
    --red-light: #EA8979;
    --green: #A8B64F;
    --green-dark: #899441;
    --state-delay: 300;
    --orange: #FFDDA9;
    --orange-dark: #FFAE35;
    --purple: #DFDCFE;
    --purple-dark: #9C97D7;
    --blue: #C5F1FF;
    --blue-dark: #7FC2D7;
}
