@font-face {
    font-family: 'SFB';
    src: url('./fonts/SF-Compact-Display-Bold.otf')  format('opentype');
      font-weight: 700;
      font-style: normal;
      font-display: swap;
}

@font-face {
    font-family: 'SFL';
    src: url('./fonts/SF-Compact-Display-Light.otf')  format('opentype');
      font-weight: 300;
      font-style: normal;
      font-display: swap;
}

@font-face {
    font-family: 'SFM';
    src: url('./fonts/SF-Compact-Display-Medium.otf')  format('opentype');
      font-weight: 500;
      font-style: normal;
      font-display: swap;
}

@font-face {
    font-family: 'SFR';
    src: url('./fonts/SF-Compact-Display-Regular.otf')  format('opentype');
      font-weight: 400;
      font-style: normal;
      font-display: swap;
}

@font-face {
    font-family: 'SFT';
    src: url('./fonts/SF-Compact-Display-Thin.otf')  format('opentype');
      font-weight: 200;
      font-style: normal;
      font-display: swap;
}


* {
    box-sizing: border-box;
  }
  
:root {
    --white: #ffffff;
    --black: #000000;
    --gray-dark-33: #333333;
    --gray-99: #999999;
    --gray-light-C4: #C4C4C4;
    --gray-lightest-E4: #E4E4E4;
    --gray-lightest-F4: #F4F4F4;
    --gray-lightest-D4: #DEDEDE;
    --gray-lightest-EC: #ECECEC;
    --red: #DC3E22;
    --red-dark: #B7280F;
    --red-light: #EA8979;
    --green: #A8B64F;
    --green-dark: #899441;
    --state-delay: 300;
    --orange: #FFDDA9;
    --orange-dark: #FFAE35;
    --purple: #DFDCFE;
    --purple-dark: #9C97D7;
    --blue: #C5F1FF;
    --blue-dark: #7FC2D7;
}

.container {
    max-width: 1440px;
    margin:0 auto;
    padding: 0 80px;
}

body {
    font-family: SFR,sans-serif;
    font-size: 16px;
    line-height: 17px;
}

.link {
    text-decoration: none;
}